body {
    color: ghostwhite;
    background-image: url("../../../../Content/backGround.jpg");
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.align-center {
    padding-left: 250px;
}

.options-align-center {
    padding: 55px 470px;
}

.options-link {
    font-size: 25px;
    color: ghostwhite;
    text-decoration: none;
}

    .options-link:hover {
        font-size: 28px;
        color: white;
        text-shadow: 2px 2px 7px white;
        text-decoration: none;
    }

.main-heading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    display: inline;
}

.create-center {
    padding: 0 0 0 250px;
}

#edit {
    color: black;
}

#delete {
    color: black;
}

.back-for-create {
    font-size: 20px;
    float: right;
}

.create {
    font-size: 18px;
}
